<div class="footer">
    <div class="container">
        <hr/>
        <div class="footer-top">
            <div class="col-md-6 footer-left">
                <form>
                    <input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-6 footer-right">
                <p>© 2017 Luxury Watches. All Rights Reserved</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>