<div class="header-bottom">
    <div class="container">
        <div class="header">
            <div class="col-md-9 header-left">
                <div class="top-nav">
                    <ul class="memenu skyblue">
                        <li class="active"><a href="#/!">Home</a></li>
                        <li class="grid"><a href="#!orders">My Orders</a></li>
                        <li class="grid"><a href="#!contact">Contact</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 header-right">
                <div class="search-bar">
                    <input type="text" id="keyword" value="{{keyword}}" placeholder="Search"/>
                    <input type="submit" ng-click="searchProducts($event)"/>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>