<div class="contact" ng-controller="checkoutCtrl">
    <div class="container">
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1">
                    <a href="#" ng-click="togglePane($event)"><img src="images/arrow.png" alt="">Shoping Cart</a>
                    <ul>
                        <li>
                            <p>&nbsp;</p>
                            <table class="table table-bordered table-responsive">
                                <tr>
                                    <th>SKU</th>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                <tr ng-repeat="cart_item in shopping_cart.cart_items">
                                    <td>{{cart_item.sku}}</td>
                                    <td>{{cart_item.title}}</td>
                                    <td><img stc="{{cart_item.image}}" alt="{{cart_item.title}}"/></td>
                                    <td>{{cart_item.quantity}}</td>
                                    <td>Eth {{cart_item.price}}</td>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-right">Total Price</th>
                                    <th>Eth {{shopping_cart.total_price}}</th>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" ng-click="togglePane($event)"><img src="images/arrow.png" alt="">Payment</a>
                    <ul class="hide">
                        <li>
                            <p>&nbsp;</p>
                            <form ng-submit="placeOrder($event)">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Name</label>
                                        <input type="text" class="form-control" ng-model="customer.name"
                                               required="required"/>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Phone Number</label>
                                        <input type="number" class="form-control" ng-model="customer.phone"
                                               required="required"/>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>City</label>
                                        <input type="text" class="form-control" ng-model="customer.city"
                                               required="required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="save_button" class="btn btn-primary pull-right">Place
                                        Order
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

