<div class="contact" ng-controller="checkoutCtrl">
    <div class="container">
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a href="#" ng-click="togglePane($event)"><img src="images/arrow.png" alt="">Shoping
                    Cart</a>
                    <ul>
                        <li class="subitem1"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                            suscipit lobortis nisl ut aliquip ex ea commodo consequat.</a></li>
                        <li class="subitem2"><a href="#"> Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                            at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                            delenit augue duis dolore</a></li>
                        <li class="subitem3"><a href="#">Mirum est notare quam littera gothica, quam nunc
                            putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta
                            decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
                            sollemnes </a></li>
                    </ul>
                </li>
                <li class="item2"><a href="#" ng-click="togglePane($event)"><img src="images/arrow.png"
                                                                                 alt="">Payment</a>
                    <ul class="hide">
                        <li class="subitem2"><a href="#"> Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                            at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                            delenit augue duis dolore</a></li>
                        <li class="subitem3"><a href="#">Mirum est notare quam littera gothica, quam nunc
                            putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta
                            decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
                            sollemnes </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

