<div class="contact" ng-controller="checkoutCtrl">
    <div class="container">
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1">
                    <a href="#" ng-click="togglePane($event)"><img src="images/arrow.png" alt="">Shoping Cart</a>
                    <ul>
                        <li>
                            <p>&nbsp;</p>
                            <table class="table table-bordered table-responsive">
                                <tr>
                                    <th>SKU</th>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                <tr ng-repeat="cart_item in shopping_cart.cart_items">
                                    <td>{{cart_item.sku}}</td>
                                    <td>{{cart_item.title}}</td>
                                    <td><img stc="{{cart_item.image}}" alt="{{cart_item.title}}"/></td>
                                    <td>{{cart_item.quantity}}</td>
                                    <td>{{cart_item.price}}</td>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-right">Total Price</th>
                                    <th>{{shopping_cart.total_price}}</th>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" ng-click="togglePane($event)"><img src="images/arrow.png" alt="">Payment</a>
                    <ul class="hide">
                        <li class="subitem2"><a href="#"> Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                            at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                            delenit augue duis dolore</a></li>
                        <li class="subitem3"><a href="#">Mirum est notare quam littera gothica, quam nunc
                            putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta
                            decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
                            sollemnes </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

