<div class="contact" ng-controller="ordersCtrl">
    <div class="container">
        <table class="table table-bordered table-responsive">
            <tr>
                <th>SKU</th>
                <th>Title</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="cart_item in shopping_cart.cart_items">
                <td>{{cart_item.sku}}</td>
                <td>{{cart_item.title}}</td>
                <td><img stc="{{cart_item.image}}" alt="{{cart_item.title}}"/></td>
                <td>{{cart_item.quantity}}</td>
                <td>{{cart_item.price}}</td>
            </tr>
            <tr>
                <th colspan="4" class="text-right">Total Price</th>
                <th>{{shopping_cart.total_price}}</th>
            </tr>
        </table>
    </div>
</div>

