<div class="contact" ng-controller="ordersCtrl">
    <div class="container">
        <p>Address: {{userAddress}}</p>
        <table class="table table-bordered table-responsive">
            <tr>
                <th>OrderId</th>
                <th>Name</th>
                <th>Phone</th>
                <th>City</th>
                <th>Total Price</th>
                <th>Created</th>
                <th>isProcessed</th>
            </tr>
            <tr ng-repeat="orderItem in orderList">
                <td>{{orderItem.orderId}}</td>
                <td>{{orderItem.name}}</td>
                <td>{{orderItem.phone}}</td>
                <td>{{orderItem.city}}</td>
                <td>{{orderItem.totalPrice}}</td>
                <td>{{orderItem.created}}</td>
                <td>{{orderItem.isProcessed}}</td>
            </tr>
        </table>
    </div>
</div>

