{% extends 'layout.twig' %}

{% block body %}
    <div class="col-md-12 content">
        <h1>{{ title }}</h1>
        <hr/>
        <a href="/products/add" class="btn btn-primary">Add New Product</a>
        <p>&nbsp</p>
        <table class="table table-bordered table-responsive">
            <tr>
                <th>SKU</th>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Created</th>
            </tr>
            <tr>
                <td>SKU</td>
                <td>Thumbnail</td>
                <td>Title</td>
                <td>Price</td>
                <td>Stock</td>
                <td>Created</td>
            </tr>
        </table>
    </div>
{% endblock %}
